
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Space+Mono&display=swap');

.jumbotron{
    box-shadow: 0px -15px 10px -15px #111;
    padding: 30px 20px 20px 20px;
    font-family: 'Space Mono', monospace;
}

p{
    text-align: justify;
}

.display-5{
    color: #000;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
}