  <div class="row">
        <div class="col-12 col-md-6 float-sm-start">
          <img src="../../../assets/profile.jpg" class='img-fluid rounded mx-auto d-block'alt="">
        </div>
        <div class="datos col-12 col-md-6">
            <h3>Juan Pablo Sosa</h3>
            <h4>Full stack developer Jr.</h4>
            <h4>Data Scientist Jr.</h4>
        </div>
        <div class="about col-12 col-lg-6">
            <h3>About</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique voluptatum repellat pariatur quisquam magni porro iure deleniti sit enim repellendus! Architecto, repudiandae provident voluptatum pariatur nobis laboriosam. Eius, odit veritatis.</p>
        </div>
    </div>