<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/profile.jpg" alt="Juan Pablo Sosa" class='img-fluid'id="profileimg">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 datos">
        <p id="name">Juan Pablo Sosa</p>
        <p>Data Scientist Jr </p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>ABOUT</h2>
            <p>¡Hi there! Thank you for visiting my portfolio. I am a data science enthusiast and full stack dev jr. eager to grow in this world. I am currently working in a company dedicated to the manufacture of farm equipment as a sales analyst. &#128512;</p>
        </span>
    </div>
</div>
