/* Estilos generales */

img{
    position: relative;
    box-shadow: 0 0rem 2rem #000000;
}

.row{
    color: #F2ECE9;
    background-color: #011526;
}


/* Mobile first*/

img{width: 50%;top: -50px;}

.about, .datos{margin-bottom: 1rem;text-align:center;}

h3{font-weight:bold;}

h4{font-weight: 300;}

p{text-align:justify;}



/* Dispositivos medianos, más de 768px*/

@media (min-width: 768px){.datos{margin-top: 5%;margin-left: -5%;}}


/* Dispositivos grandes, más de 992 */

@media (min-width: 992px){img{left: 25%;max-width: 230px;}.datos{margin-left: -10%;}.about{margin-left: 25%;}}