<div class="row">
  <h2 class="text-center">Hard & Soft Skills</h2>
  <div class="text-center col-sm-4 col-md-5 col-lg-4">
    <h4>Front End</h4>
    <circle-progress
    [percent]="90"
    [radius]="100"
    [outerStrokeWidth]="16"
    [imageSrc]="'../../../assets/fe.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#ce0a31'"
    [innerStrokeColor]="'#F2ECE9'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-5 col-lg-4">
    <h4>Back End</h4>
    <circle-progress
    [percent]="60"
    [radius]="100"
    [outerStrokeWidth]="16"
    [imageSrc]="'../../../assets/backend.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#ce0a31'"
    [innerStrokeColor]="'#F2ECE9'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-5 col-lg-4">
    <h4>Machine Learning</h4>
    <circle-progress
    [percent]="80"
    [radius]="100"
    [outerStrokeWidth]="16"
    [imageSrc]="'../../../assets/ml.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#ce0a31'"
    [innerStrokeColor]="'#F2ECE9'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-5 col-lg-4">
    <h4>Proactividad</h4>
    <circle-progress
    [percent]="90"
    [radius]="100"
    [outerStrokeWidth]="16"
    [imageSrc]="'../../../assets/decision.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#ce0a31'"
    [innerStrokeColor]="'#F2ECE9'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-5 col-lg-4">
    <h4>Empatía</h4>
    <circle-progress
    [percent]="100"
    [radius]="100"
    [outerStrokeWidth]="16"
    [imageSrc]="'../../../assets/empatia.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#ce0a31'"
    [innerStrokeColor]="'#F2ECE9'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
    <div class="text-center col-sm-4 col-md-5 col-lg-4">
      <h4>Trabajo en Equipo</h4>
    <circle-progress
    [percent]="70"
    [radius]="100"
    [outerStrokeWidth]="16"
    [imageSrc]="'../../../assets/ww.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#ce0a31'"
    [innerStrokeColor]="'#F2ECE9'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
    
</div>
