@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Space+Mono&display=swap');
.row{
    font-family: 'Space Mono', monospace;
    padding: 1rem;
}


.display-5{
    color: #000;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    margin-bottom: revert;
}

h4{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

h1{ 
    text-align: center;
    font-weight: bold;
    background: #e6e6e6;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    
}