<div class="row">
  <h1 class="text-center display-5 rounded">Hard & Soft Skills</h1>
  <div class="text-center col-sm-6 col-md-6 col-lg-4">
    <h4>Front End</h4>
    <circle-progress
    [percent]="90"
    [radius]="100"
    [outerStrokeWidth]="5"
    [imageSrc]="'../../../assets/fe.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#EF6024'"
    [innerStrokeColor]="'#000'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-6 col-md-6 col-lg-4">
    <h4>Back End</h4>
    <circle-progress
    [percent]="60"
    [radius]="100"
    [outerStrokeWidth]="5"
    [imageSrc]="'../../../assets/backend.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#EF6024'"
    [innerStrokeColor]="'#000'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-6 col-md-6 col-lg-4">
    <h4>Machine Learning</h4>
    <circle-progress
    [percent]="80"
    [radius]="100"
    [outerStrokeWidth]="5"
    [imageSrc]="'../../../assets/ml.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#EF6024'"
    [innerStrokeColor]="'#000'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-6 col-md-6 col-lg-4">
    <h4>Proactividad</h4>
    <circle-progress
    [percent]="90"
    [radius]="100"
    [outerStrokeWidth]="5"
    [imageSrc]="'../../../assets/decision.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#EF6024'"
    [innerStrokeColor]="'#000'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-6 col-md-6 col-lg-4">
    <h4>Empatía</h4>
    <circle-progress
    [percent]="100"
    [radius]="100"
    [outerStrokeWidth]="5"
    [imageSrc]="'../../../assets/empatia.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#EF6024'"
    [innerStrokeColor]="'#000'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
    <div class="text-center col-sm-6 col-md-6 col-lg-4">
      <h4>Trabajo en Equipo</h4>
    <circle-progress
    [percent]="70"
    [radius]="100"
    [outerStrokeWidth]="5"
    [imageSrc]="'../../../assets/ww.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#EF6024'"
    [innerStrokeColor]="'#000'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
    
</div>
