.row{
    padding: 5rem;
    background-image: url('../../../assets/databack1.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    box-shadow: 0px 15px 10px -15px #111;
}

.display-4, .lead{
    color: #F2ECE9;
    background-color: #01152699;
    border-radius: 0.2rem;
}

/* Responsive */
@media (max-width: 650px){
.display-4, .lead{
    text-align: center;
}

.row{
    padding-top: 3rem;
    padding-bottom: 0rem;
 }
}