@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Space+Mono&display=swap');
.row{
    font-family: 'Space Mono', monospace;
    padding: 1rem;  
}

h3{
    display: inline;
}
h1{
        font-weight: bold;
        background: #e6e6e6;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 15px;
}

h4{
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: normal;
    color: #bfbfbf;
}
