<div class="row">
    <h2 class="text-center">Educación</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
    <li><h3>Estudio 1</h3>- <h4>(years)</h4> </li>
    <p>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. A aliquid reiciendis nisi ullam tempore commodi itaque deserunt magni voluptatem repudiandae numquam, possimus eveniet molestiae beatae amet enim temporibus voluptas laudantium!
    </p>
    <li><h3>Estudio 2</h3>- <h4>(years)</h4> </li>
    <p>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. A aliquid reiciendis nisi ullam tempore commodi itaque deserunt magni voluptatem repudiandae numquam, possimus eveniet molestiae beatae amet enim temporibus voluptas laudantium!
    </p>
    <li><h3>Estudio 3</h3>- <h4>(years)</h4> </li>
    <p>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. A aliquid reiciendis nisi ullam tempore commodi itaque deserunt magni voluptatem repudiandae numquam, possimus eveniet molestiae beatae amet enim temporibus voluptas laudantium!
    </p>
    
        </ul>
    </div>
</div>
