<div class="container">
    <div class="login-container">
        <div id="output"></div>
        <div id="titulo">
            <h1>Account Login</h1>
        </div>
        <div class="form-box">

            <form #f="ngForm"(ngSubmit)="onLogin()" novalidate>

                <input id="nombreUsuario" name="nombreUsuario" type="text" placeholder="username" [(ngModel)]="nombreUsuario" required>

                <input type="password" id="password" name="password" placeholder="password" [(ngModel)]="password" required>

                <button class="btn btn-info btn-block login" type="submit">Login</button>
            </form>
        </div>
    </div>

</div>